@tailwind base;
@tailwind components;
@tailwind utilities;

/*Date picker*/

.custom-date-picker {
  color: #ffffff;
  background-color: #2c2c2c;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}

.custom-date-picker:hover {
  background-color: #212121;
}

.custom-calendar {
  background-color: #2c2c2c;
  border-radius: 0.375rem;
  color: #ffffff;
}

.custom-calendar .react-datepicker__header {
  background-color: #2c2c2c;
  border-bottom: 1px solid #777777;
}

.custom-calendar .react-datepicker__day-name,
.custom-calendar .react-datepicker__day,
.custom-calendar .react-datepicker__time-name {
  color: #ffffff;
}

.custom-calendar .react-datepicker__day:hover,
.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: #27c6a9;
  color: #ffffff;
}

.custom-popper {
  z-index: 50;
}

.custom-datepicker::placeholder {
  color: white;
}

.react-datepicker__current-month {
  color: white; /* Change the month text color */
}

/*Button spins*/

@keyframes half-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.spin-on-hover:hover {
  animation: half-spin 0.25s linear;
}

/*Blur*/

.blur-sm {
  filter: blur(2px);
}
